services:
  redis:
    image: redis:alpine
    env_file:
      - .env
    command: redis-server --requirepass $REDIS_PASSWORD
    restart: always
    ports:
      - 6379:6379
  chatbot:
    build:
      context: .
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    restart: always
    ports:
      - 3002:3002
    volumes:
      - ./logs:/app/logs
    depends_on:
      - redis
